
<div class="well well-sm">
  <ul class="nav nav-pills">
    <li>{{#link-to 'events.list'}}Last events{{/link-to}}</li>
    <li>{{#link-to 'events.search'}}Search event{{/link-to}}</li>
    <li>{{#link-to 'events.new'}}Create a new event{{/link-to}}</li>
  </ul>
</div>

{{outlet}}
